body {
    font-family: 'Montserrat', sans-serif;
}

header.major h2 {
    font-size: 3rem;
}

header.major h2 + p {
    font-size: 1.5em;
}

.you-span {
    color: #47B5FF;
}

.about-span {
    color: #47B5FF;
    font-weight: 600;
}
